<!DOCTYPE html>

<html>
<head> 
    <title>Árvores</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style_floresta.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='flipCard.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style_fundo_1.css')}}">
</head>
<!--style="background:#0b3720 url('/static/background.png') no-repeat center top " -->
<body class="fundo" >
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a class="active" href="/arvores">Árvores</a></li>
            <li><a href="/mapa">Mapa</a></li>
            <li><a href="/nlp">NLP</a></li>
            
        </ul>
        
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

<!--
    
    <div class="banner">
        <div class="vazio">
            <div class="header"><h1>Cresça sua Ideia</h1></div>
        </div>
    </div>
    
-->

{% if trees %}
<div class="floresta_container"  >
    <div class="floresta">
        {% for tree in trees %}
        <div class="flip-card ideia"  >
            <div class="titulo"><span>{{ tree.title }}</span></div>
            <div class="flip-card-inner">
                
                <script type=text/javascript>
                                $(function() {
                                    $('button#vote{{tree.tree_id}}').bind('click', function(){
                                        $.getJSON($SCRIPT_ROOT + '/votar/{{ tree.tree_id }}', {}, function(data){
                                            $("#votes{{tree.tree_id}}").text(data.votes);
                                            $("#stage{{tree.tree_id}}").attr('src', 'static/' + data.stage + '.png');
                                        });
                                        return false;
                                    });
                                });
                        </script>

<div class="bloco">
    <div class="frente">
        <div class=" flip-card-front">
            <img class="imagem" id="stage{{tree.tree_id}}" src="static/{{tree.stage}}.png">
        </div>
    </div>
    <div class="atras">
        <div class="flip-card-back">
            <p class="mensagem">{{ tree.message }}</p>
            <p>Foi regada <span id="votes{{tree.tree_id}}">{{ tree.votes }}</span> vezes</p>
            
            <button class="btn" type="button" href=# id=vote{{tree.tree_id}} value=Regar>
                <img class="water-img" src="static/water.svg">
            </button>
        </div>
    </div>
</div>
</div>
</div>
{% endfor %}
</div>
</div>

{% else %}
<h1>Não há árvores plantadas</h1>
{% endif %}
</body>

</html>