<!DOCTYPE html>
<title>Árvores</title>

{% if trees %}
    <h1>Árvores plantadas</h1>
    {% for tree in trees %}
    <li>
        <p>Título: {{ tree.title }}</p>
            <img src="static/{{tree.stage}}.png">

            <p>Mensagem: {{ tree.message }}</p>
            <p>Foi regada {{ tree.votes }} vezes</p>
            <form action="/votar/{{ tree.tree_id }}" method="post">
                <input type="submit" value="Regar">
            </form>
        </li>
    {% endfor %}
{% else %}
    <h1>Não há árvores plantadas</h1>
{% endif %}