<!DOCTYPE html>
<html>
<head>
    <title>Cresça sua Ideia</title>
    <style>@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');</style>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style_floresta.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='flipCard.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style_fundo_1.css')}}">
</head>
<body class="fundo">
    <div class="navbar">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/arvores">Árvores</a></li>
            <li><a href="/mapa">Mapa</a></li>
            <li><a href="/nlp">NLP</a></li>
        </ul>
    </div>
    <div class="explicacao2">
        <h1>Cresça sua Ideia</h1>
    </div>
    <div class="explicacao">
        <img src="static/tree.png">
        <p class="mensagem">
            Um projeto de gamificação para tornar o processo de escolha de ideias mais dinâmico.
            Além de podermos ver cada ideia em uma pequena floresta na qual,
            quanto mais popular uma ideia, mais avançado está o estágio da árvore,
            também podemos mapear de onde vem cada ideia.
            Insira suas ideias e deixe que elas floresçam!
            <br>
            Também há um mapa interativo para visualizar de onde as ideias e estão vindo, e
            uma wordcloud em formato de coruja que mostra as palavras que mais aparecem nas mensagens das árvores!
        </p>

    </div>
</body>
</html>