<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style_floresta.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='flipCard.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style_fundo_1.css')}}">
</head>
<body class="fundo">
    <div class="navbar">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/arvores">Árvores</a></li>
            <li><a href="/mapa">Mapa</a></li>
            <li><a href="/nlp">NLP</a></li>
        </ul>
    </div>

    <div class="explicacao">
        <img src="static/tree.png">
        <p class="mensagem">
            Um projeto de gamificação para tornar o processo de escolha de ideias mais divertido. Além de podermos ver cada ideia em uma pequena floresta na qual, quanto mais popular uma ideia, mais avançado está o estágio da árvore, também podemos mapear de onde vem cada ideia. Insira suas ideias e deixe que elas floresçam!
        </p>

    </div>
</body>
</html>