<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style_floresta.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='flipCard.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style_fundo_1.css')}}">
</head>
<body class="fundo">
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/arvores">Árvores</a></li>
            <li><a href="/mapa">Mapa</a></li>
            <li><a class="active"  href="/nlp">NLP</a></li>
        </ul>
    </div>

    <img class="wordcloud" src="static/wordcloud.png">
</body>
</html>